.form__content {
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 1200px) {
    .form__content {
        flex-direction: column;
        justify-content: center;
    }
}